@model IEnumerable<DressZone.Server.Areas.Admin.Models.ViewModels.AllCategoriesViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content
================================================== -->
<!-- Container -->
<div class="container">

    <!-- Filters -->
    <div class="sixteen columns">
        <div id="filters" class="filters-dropdown">
            <ul class="option-set">
                <li class="active"><a href="#filter" class="selected" data-filter="*">All</a></li>
                <li><a href="#filter" data-filter=".accessories">Accessories</a></li>
                <li><a href="#filter" data-filter=".clothing">Clothing</a></li>
                <li><a href="#filter" data-filter=".technology">Technology</a></li>
                <li><a href="#filter" data-filter=".food">Food</a></li>
                <li><a href="#filter" data-filter=".other">Other</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <ul id="og-grid" class="og-grid">

        @foreach (var cat in Model)
        {
              <!-- Project -->
            <li class="clothing others clickable">

                <a href="#" class="grid-item-image">
                    <div class="dynamic-portfolio-holder">
                        <img src="~/images/Uploaded/@cat.OriginalFileName" alt="" />
                        <div class="hover-cover"></div>
                        <div class="hover-icon"></div>
                        <div class="hover-desc">
                            <h5>@cat.CategoryName</h5>
                            <span>Clothing</span>
                        </div>
                    </div>
                </a>
                <div class="og-expander">
                    <div class="flexslider gridslider">
                        <ul class="slides">
                            <li><img src="~/images/Uploaded/@cat.OriginalFileName" alt=""></li>
                        </ul>
                    </div>

                    <span class="og-close"></span>
                    <div class="og-details">
                        <h3>@cat.CategoryName</h3>
                        <p>Description</p>
                        <!-- Share Buttons -->
                        <div class="share-buttons">
                            <ul>
                                <li><a href="#">Share</a></li>
                                <li class="share-facebook"><a href="#">Facebook</a></li>
                                <li class="share-twitter"><a href="#">Twitter</a></li>
                                <li class="share-gplus"><a href="#">Google Plus</a></li>
                                <li class="share-pinit"><a href="#">Pin It</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                @*<div class="og-expander">
                    <div class="flexslider gridslider">
                        <ul class="slides">
                            <li><img src="" alt=""></li>
                        </ul>
                    </div>

                    <span class="og-close"></span>
                    <div class="og-details">
                        <h3>@cat.CategoryName</h3>

                        <!-- Share Buttons -->
                        <div class="share-buttons">
                            <ul>
                                <li class="share-pinit" style="display:block"><a href="#">Edit</a></li>
                                <li class="share-pinit" style="display:block">@Html.ActionLink("Change Front Picture", "EditFrontImage", "Categories", new { area = "Admin", category = @cat.CategoryName }, null)</li>
                                <li class="share-pinit" style="display:block"><a href="#">Add Images</a></li>
                                <li class="share-pinit" style="display:block"><a href="#">Change Description</a></li>
                            </ul>
                        </div>

                    </div>
                </div>*@
            </li>
        }
    </ul>

</div>
<!-- Container / End -->
