@model DressZone.Server.Models.DTO.Home.HomePageDTO
@{
    ViewBag.Title = "DressZone Home";
}

<!-- Slider
================================================== -->
@Html.Partial("Slider")

<!-- Featured
================================================== -->
@Html.Partial("FeaturedProducts",Model.categories)


<!-- New Arrivals
================================================== -->
@Html.Partial("NewArrivals",Model.products)


<!-- Parallax Banner
================================================== -->
@Html.Partial("Parallax")


<!-- Product Lists
================================================== -->
@Html.Partial("ProductLists")

<div class="clearfix"></div>


