@using DressZone.Server.Models
@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Register -->
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register", role = "form" }))
{
    @Html.AntiForgeryToken()

    <p class="form-row form-row-wide">
        <label for="reg_email">Email Address: <span class="required">*</span></label>
        @Html.TextBoxFor(m => m.Email, new { @class = "input-text" })
        @*<input type="email" class="input-text" name="email" id="reg_email" value="" />*@
    </p>

    <p class="form-row form-row-wide">
        <label for="reg_password">Password: <span class="required">*</span></label>
        @Html.TextBoxFor(m => m.Password, new { @class = "input-text", id = "req_password", type="password" })
        @*<input type="password" class="input-text" name="password" id="reg_password" />*@
    </p>

        <p class="form-row form-row-wide">
            <label for="reg_password2">Repeat Password: <span class="required">*</span></label>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-text", id="req_password2", type="password" })
            @*<input type="password" class="input-text" name="password" id="reg_password2" />*@
        </p>

        <p class="form-row">
            <input type="submit" class="button" name="register" value="Register" />
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
