<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>DressZone</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- CSS
    ================================================== -->
    @*<link rel="stylesheet" href="Content/style.css">*@
    @*<link rel="stylesheet" href="Content/green.css" id="colors">*@
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/styles")
    <!-- Initial JS-->
    <script src="~/Scripts/themeScripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/themeScripts/jquery-migrate-1.2.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @* @Scripts.Render("~/bundles/jquery11")*@
    @* @Scripts.Render("~/bundles/jquerymigrate")*@
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
    <div id="wrapper">


        <!-- Top Bar
        ================================================== -->
        @Html.Partial("TopBar")

        <div class="clearfix"></div>


        <!-- Header
        ================================================== -->
        @Html.Partial("Header")

        @RenderSection("kendo", required: false)

        <!-- Navigation
        ================================================== -->
        @Html.Partial("Navigation")
       
        <div class="container body-content">
            @RenderBody()

        </div>
        <div class="margin-top-50"></div>

        <!-- Footer
        ================================================== -->
      @Html.Partial("Footer")
        <!-- Footer / End -->
        <!-- Footer Bottom / Start -->
       @Html.Partial("FooterBottom")
        <!-- Footer Bottom / End -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

        <!-- Java Script
        ================================================== -->
        @*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@


        <script src="~/Scripts/themeScripts/jquery.jpanelmenu.js"></script>
        <script src="~/Scripts/themeScripts/jquery.themepunch.plugins.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.themepunch.revolution.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.themepunch.showbizpro.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.magnific-popup.min.js"></script>
        <script src="~/Scripts/themeScripts/hoverIntent.js"></script>
        <script src="~/Scripts/themeScripts/superfish.js"></script>
        <script src="~/Scripts/themeScripts/jquery.pureparallax.js"></script>
        <script src="~/Scripts/themeScripts/jquery.pricefilter.js"></script>
        <script src="~/Scripts/themeScripts/jquery.selectric.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.royalslider.min.js"></script>
        <script src="~/Scripts/themeScripts/SelectBox.js"></script>
        <script src="~/Scripts/themeScripts/modernizr.custom.js"></script>
        <script src="~/Scripts/themeScripts/waypoints.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.flexslider-min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.counterup.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.tooltips.min.js"></script>
        <script src="~/Scripts/themeScripts/jquery.isotope.min.js"></script>
        <script src="~/Scripts/themeScripts/puregrid.js"></script>
        <script src="~/Scripts/themeScripts/stacktable.js"></script>
        <script src="~/Scripts/themeScripts/custom.js"></script>
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/private-functions");
        <!-- Style Switcher
        ================================================== -->
        <script src="~/Scripts/themeScripts/switcher.js"></script>

        @Html.Partial("StyleSwitcher")
    </div>

</body>
</html>