<div class="container">
    <div class="sixteen columns">

        <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

        <nav id="navigation">
            <ul class="menu" id="responsive">

                <li><a href="index.html" class="current homepage" id="current">Home</a></li>

                <li class="dropdown">
                    <a href="#">Shop</a>
                    <ul>
                        <li>@Html.ActionLink("Categories","Details","CategoriesDetails",new { area = "" })</li>
                    </ul>
                </li>

                @if (this.User.IsInRole("Admin"))
                {
                    <li>
                        <a href="#">Admin Features</a>
                        <div class="mega">
                            <div class="mega-container">

                                <div class="one-column">
                                    <ul>
                                        <li><span class="mega-headline">Manage Categories</span></li>
                                        <li>@Html.ActionLink("ManageAll", "All", "Categories", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Create Category", "AddCategory", "Categories", new { area = "Admin" }, null)</li>
                                    </ul>
                                </div>

                                <div class="one-column">
                                    <ul>
                                        <li><span class="mega-headline">Manage Products</span></li>
                                        <li>@Html.ActionLink("ManageAll", "All", "ProductsCreate", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("AddImages", "AddImages", "ProductImages", new { area = "Admin" }, null)</li>

                                    </ul>
                                </div>
                                <div class="one-column">
                                    <ul>
                                        <li><span class="mega-headline">Manage Users</span></li>
                                        <li>@Html.ActionLink("ManageAll", "All", "User", new { area = "Admin" }, null)</li>
                                    </ul>
                                </div>
                                <div class="one-column">
                                    <ul>
                                        <li><span class="mega-headline">Manage Carts</span></li>
                                        <li>@Html.ActionLink("ManageAll", "All", "Cart", new { area = "Admin" }, null)</li>

                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

